
/* nav */

/* .nav{
  display: flex;
  background-color: rgb(124, 171, 171);
  justify-content:space-around;
}

.ul-list{
  display: flex;
  list-style: none;
  gap: 15px;
} */

.ul-list{
  display: flex;

  justify-content: space-around; 
  background-color: rgb(172, 200, 224);
  padding: 5px;
}


.ul1{
  display: flex;
  gap: 20px;
  margin-top: 0%;
  margin-right: 2px;
}
li{

  list-style: none;
}

/* corss   */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}
img{
  width: 60%;
  margin: 10%;
}
.foteer{
  background-color: rgb(172, 200, 224);
  padding: 5px;
}
p{
  text-align: center;
}

/* store */

.card{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap:15px;
 margin: 20px;

  
}
img{
  width: 50%;
  margin-left: 25%;
}

h3{
  text-align: center;
  padding: 20px;
  background-color: rgb(124, 171, 171);
  
  color: blue;
}


.container{
  height:100vh ;
  width: 100%;display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0,2);
  object-fit: contain;
}


/* footer site */
